<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingapp">

    <!-- NFC Permission -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:label="VotingApp"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AdminResultsActivity" android:exported="false" />
        <activity android:name=".VoteConfirmationActivity" android:exported="false" />
        <activity android:name=".VotingActivity" android:exported="false" />
        <activity android:name=".FaceVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity android:name=".CardVerificationActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
